#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    chosen { zmk,matrix_transform = &dual_2u_transform; };

    behaviors {
        de_sz: de_sz {
            compatible = "zmk,behavior-mod-morph";
            label = "DE_SZ";
            bindings = <&kp DE_SZ>, <&kp DE_CAPITAL_SZ>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mlt: m_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "M_LAYER_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            retro-tap;
            require-prior-idle-ms = <75>;
        };
    };

    combos {
        compatible = "zmk,combos";

        caps_lock {
            bindings = <&caps_word>;
            key-positions = <24 35>;
        };

        quick_enter {
            bindings = <&kp ENTER>;
            key-positions = <41 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_base {
            label = "base";
            bindings = <
&kp ESC    &kp DE_Q   &kp DE_W  &kp DE_E  &kp DE_R  &kp DE_T      &kp DE_Z          &kp DE_U  &kp DE_I       &kp DE_O    &kp DE_P         &kp DE_U_UMLAUT
&kp TAB    &kp DE_A   &kp DE_S  &kp DE_D  &kp DE_F  &kp DE_G      &kp DE_H          &kp DE_J  &kp DE_K       &kp DE_L    &kp DE_O_UMLAUT  &kp DE_A_UMLAUT
&kp LSHFT  &kp DE_Y   &kp DE_X  &kp DE_C  &kp DE_V  &kp DE_B      &kp DE_N          &kp DE_M  &kp DE_COMMA   &kp DE_DOT  &kp DE_MINUS     &kp RSHIFT
&kp LGUI   &kp LCTRL  &mo 4     &sl 3               &mlt 3 SPACE  &mlt 2 BACKSPACE            &kp BACKSPACE  &mo 5       &kp LALT         &kp ENTER
            >;
        };

        layer_win {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &trans
            >;

            label = "win";
        };

        layer_sym {
            label = "sym";
            bindings = <
&trans  &kp DE_EXCL   &kp DE_DQT  &kp DE_SQT       &kp DE_DOLLAR  &kp DE_PRCNT  &kp DE_AMPS   &kp DE_LPAR    &kp DE_RPAR    &kp DE_LBRC   &kp DE_EQUAL  &kp DE_QMARK
&trans  &kp RA(DE_L)  &kp DE_SZ   &kp DE_EURO      &kp DE_SECT    &kp DE_PLUS   &kp DE_LBKT   &kp RA(DE_N5)  &kp RA(DE_N6)  &kp DE_RBKT   &kp DE_POUND  &kp DE_LT
&trans  &kp DE_CARET  &kp DE_DEG  &kp RS(DE_LBRC)  &kp DE_SLASH   &kp DE_ASTRK  &kp RA(DE_N)  &kp DE_MU      &kp DE_GT      &kp DE_ACUTE  &kp DE_GRAVE  &trans
&trans  &trans        &none       &none                           &kp ENTER     &none                        &trans         &none         &trans        &kp SPACE
            >;
        };

        layer_num {
            label = "num";
            bindings = <
&trans  &kp DE_N1   &kp DE_N2  &kp DE_N3  &kp DE_N4  &kp DE_N5  &kp DE_N6      &kp DE_N7  &kp DE_N8   &kp DE_N9  &kp DE_N0  &kp PAGE_UP
&trans  &kp HOME    &kp END    &none      &none      &none      &kp LEFT       &kp DOWN   &kp UP      &kp RIGHT  &none      &kp PAGE_DOWN
&trans  &kp INSERT  &none      &none      &none      &none      &none          &none      &none       &none      &none      &trans
&trans  &trans      &none      &none                 &trans     &kp BACKSPACE             &kp DELETE  &none      &trans     &trans
            >;
        };

        layer_fn {
            label = "fn";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3      &kp F4  &kp F5     &kp F6         &kp F7            &kp F8      &kp F9      &kp F10  &kp F11
&trans  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &none   &none      &kp C_PREV     &kp C_PLAY_PAUSE  &kp C_STOP  &kp C_NEXT  &none    &kp F12
&trans  &kp C_BRI_DN  &kp C_BRI_UP  &none       &none   &none      &none          &none             &none       &none       &none    &trans
&trans  &trans        &none         &none               &kp SPACE  &kp BACKSPACE                    &kp DELETE  &none       &trans   &trans
            >;
        };

        layer_kb {
            label = "kb";
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none  &none  &none  &none  &none         &bt BT_CLR
&none  &none         &none         &none         &none         &none         &none  &none  &none  &none  &out OUT_USB  &out OUT_BLE
&none  &to 0         &tog 1        &none         &none         &none         &none  &none  &none  &none  &none         &none
&none  &none         &bootloader   &sys_reset                  &none         &none         &none  &none  &none         &none
            >;
        };

        layer_sym_win {
            label = "sym_win";
            bindings = <
&trans  &kp DE_EXCL     &kp DE_DQT  &kp DE_SQT   &kp DE_DOLLAR  &kp DE_PRCNT  &kp DE_AMPS   &kp DE_LPAR  &kp DE_RPAR  &kp DE_PIPE   &kp DE_EQUAL  &kp DE_QMARK
&trans  &kp DE_AT_SIGN  &de_sz      &kp DE_EURO  &kp DE_SECT    &kp DE_PLUS   &kp DE_LBRC   &kp DE_LBKT  &kp DE_RBKT  &kp DE_RBRC   &kp DE_POUND  &kp DE_CARET
&trans  &kp DE_LT       &kp DE_GT   &kp DE_BSLH  &kp DE_SLASH   &kp DE_ASTRK  &kp DE_TILDE  &kp DE_MU    &kp DE_DEG   &kp DE_ACUTE  &kp DE_GRAVE  &trans
&trans  &trans          &none       &none                       &kp ENTER     &none                      &trans       &none         &trans        &kp SPACE
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        win_sym {
            if-layers = <1 2>;
            then-layer = <6>;
        };
    };
};
